* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --accent:#f4d04e;
  --dark:#111111;
  --grey:#6b6b6b;
  --white:#fff;
}

html {
  font-family: Figtree, sans-serif;
  font-size:16px;
}

.text-preset-1 {
  font-weight:800;
  font-size: clamp(1.25rem, 1.162rem + 0.376vw, 1.5rem);
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-weight:400;
  font-size:clamp(0.875rem, 0.831rem + 0.188vw, 1rem);
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-weight:500;
  font-size:clamp(0.75rem, 0.706rem + 0.188vw, 0.875rem);
  line-height:150%;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-weight:800;
  font-size: clamp(0.75rem, 0.706rem + 0.188vw, 0.875rem);
  line-height: 150%;
  letter-spacing: 0px;
}

a {
  text-decoration:none;
  color:inherit;
}

body {
  height:100vh;
  background-color: var(--accent);
}

.card {
  border:none;
  outline:1px solid var(--dark);
  outline-offset: -1px;
  box-shadow:8px 8px 0 rgb(0,0,0);
  background-color: var(--white);
  width:clamp(20.438rem, 19.183rem + 5.352vw, 24rem);
  height: clamp(31.313rem, 30.85rem + 1.972vw, 32.625rem);
  margin: 100px auto;
  padding:24px;
  border-radius:20px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.illustration {
  width:clamp(17.438rem, 16.183rem + 5.352vw, 21rem);
  height:200px;
  object-fit: cover;
  align-self:center;
  border-radius:10px;
}


.tag {
  background: var(--accent);
  display:inline-block;
  padding: 4px 12px;
  border-radius:4px;
  border:none;
  margin-top:24px;
  margin-bottom:12px;
  color:var(--dark);
  cursor:pointer;
}

.tag:hover, .tag:active, .tag:focus {
  background-color:var(--dark);
  color:var(--accent);
}

.publication-date {
  margin-bottom:12px;
  color:var(--grey);
}

.course {
  margin-bottom:12px;
  color: var(--dark);
  cursor:pointer;
}

.course:hover, .course:active, .course:focus {
  color:var(--accent);
}


.course-description {
  color: var(--grey);
  margin-bottom:24px;
}

.author {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.author-picture {
  width:32px;
  height:32px;
  border-radius: 50%;
  cursor:pointer;
}

.author-name {
  margin-left:12px;
  cursor:pointer;
  color:var(--dark);
}

.author-name:hover {
  color:var(--grey);
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}